name: Main

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run tests
        uses: ./.github/actions/test
        with:
          go-version: '1.25'

  build:
    name: Build
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build binary
        uses: ./.github/actions/build
        with:
          go-version: '1.25'
          binary-name: 'terraform-helper'
          artifact-name: 'terraform-helper'
          artifact-path: 'terraform-helper'
          retention-days: '7'
